html {
    background: url("Images/WhiteSands.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
}

.form {
    margin-bottom: 1em;
    background-color: white;
    overflow: overlay;
    display: inline-block;
    padding: 2em;
}

.question-header{
    color: red;
}