html {
    background: url("Images/WhiteSands.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
}

.title {
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5em;
}

#submit {
    text-align: center;
}

.form {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.75);
    overflow: overlay;
    display: inline-block;
    padding: 2em;
    text-align: center;
}

.questions {
    text-align: left;
}

.question-header{
    color: red;
}